.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.image-prev {
    width: 300px;
    border-radius: 10px;
}

.img-item {
    max-height: 80px;
    max-width: 80px;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
    border: 1px solid #ccc
}