.main-page__container {
    margin: 20px 40px;
    height: calc(100vh - 200px);
}

.feature {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.content {
    width: 100%;

    .table {
        height: 580px;
    }
}
