.list-variant {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.item {
    background-color: #152A51;
    padding: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 6px;

    > div {
        display: flex;
        gap: 1rem;
    }

    h4 {
        color: white;
        margin: 0;
        width: 200px;
    }

    .group-input {
        display: flex;
        align-items: center;

        label {
            color: white;
            margin-right: 10px;
        }
    }

    input {
        padding: 4px;
        border-radius: 6px;
        border-color: transparent;
    }
}